/* ----- HTML ELEMENTS -------*/

html {
    border-radius: 0;
    text-decoration: none;
}

body {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border: 0px;
    margin: auto;
    color: #363636;
    text-rendering: optimizeLegibility;
    background-color: #E8ECF1;
}


a, a:hover, a:active, a:visited {
    text-decoration: none !important; /* !important was used to override BS CSS. Not good practise but text-decoration will never be needed*/
    background-color: transparent;
    color: #3b5998;
}

    a:hover {
        color: #0066FF;
    }

    a:active {
        color: #193EAC;
    }

ul {
    list-style-type: square;
}

h1 {
    font-family: 'Roboto Condensed', Gadugi, 'Gill Sans MT', Geneva, Tahoma, sans-serif;
    font-size: 2.2em;
    color: #E62E00;
    margin-top: 0px; /*Override of strange margin that gets added*/
    margin-bottom: 10px;
}

h2 {
    font-family: 'Roboto Condensed', Gadugi, 'Gill Sans MT', Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: #3b5998;
    margin-top: 0px; /*Override of strange margin that gets added*/
    margin-bottom: 10px;
}

    h2:hover, h2:hover:active {
        color: #337ab7;
    }

    h2 a, h2 a:visited {
        color: #4D4D4D;
        text-decoration: none;
    }

h3 {
    font-family: 'Roboto Condensed', Gadugi, 'Gill Sans MT', Geneva, Tahoma, sans-serif;
    font-size: 1.7em;
    color: #3b5998;
    margin: 0px;
}

    h3:hover, h3:hover:active {
        color: #337ab7;
    }

    h3 a, h3 a:visited {
        color: #4D4D4D;
        text-decoration: none;
    }

h4 {
    font-family: 'Roboto Condensed', Gadugi, 'Gill Sans MT', Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
    color: #E62E00;
    margin: 0px;
}

h5 {
    font-family: 'Roboto Condensed', 'Core Sans N 25', 'Franklin Gothic', 'Segoe UI',Frutiger,Tahoma,Helvetica,Sans-Serif;
    color: #E62E00;
}




img {
    max-width: 100%;
    width: auto;
    height: auto;
}

figure {
    padding: 5px;
}

figcaption {
    font-style: italic;
}
/* ----- /HTML ELEMENTS* --------/


/* -------CUSTOM CLASSES -------*/
.bold {
    font-weight: bold;
}

.alignRight {
    float: right;
}

.row .keyDescription {
    margin-bottom:10px;
}

.list {
    padding-left: 15px;
}

.customRow {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.container-fluid {
    padding: 0px; /*Override BS of padding left & right of 15pt*/
}

.row {
    margin: 0px;
}

.thumbnail {
    border-radius: 0px;
}

.floatRight {
    float: right;
}

.inline {
    display: inline;
}

.noWrap {
    white-space: nowrap;
}

.noPadding {
    padding: 0px;
}

.centerText {
    text-align: center;
}


/* -------/CUSTOM CLASSES -------------------------*/

/* -------   FONTS ------ */
@font-face {
    font-family: 'century-gothic';
    src: url('../fonts/century-gothic.ttf') format('truetype');
}
/* ------- /FONTS ------ */


/* -------------------  ENTIRE PAGE ------------------- */
#entirePage {
}
/* -------------------  /ENTIRE PAGE ------------------- */



/* -------------------   NAVBAR  ------------------- */

#logo {
    background-color: white;
}

#customNav {
    margin-bottom: 8px;
}


#companyDiv {
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #6685A3;
    display: inline-block;
    font-family: 'century-gothic', 'Muli','Franklin Gothic Medium', 'Roboto Condensed', Gadugi, 'Gill Sans MT', Geneva, Tahoma, sans-serif;
}

#companyText {
    display: inline;
}

#companyName {
    font-size: 2.5em;
    color: white;
}

#dotcom {
    font-size: 1.7em;
    color: white;
}


#company a {
}

#pageHeadingDiv {
    display: inline-block;
}

#pageHeadingText { /*Just vertical centering*/
    margin: 0;
    color: #6685A3;
    margin-left: 5px;
    font-size: 1.7em;
    font-weight:600;
    font-family: 'century-gothic', 'Muli','Franklin Gothic Medium', 'Roboto Condensed', Gadugi, 'Gill Sans MT', Geneva, Tahoma, sans-serif;
}


@media only screen and (max-width:480px) {

    .contactText {
        display: none;
    }


    .col-xs-1 .col-xs-2 .col-xs-3 .col-xs-4 .col-xs-5 .col-xs-6 .col-xs-7 .col-xs-8 .col-xs-9 .col-xs-10 .col-xs-11 {
        padding-left: 5px;
        padding-right: 5px;
    }

    #logo {
        background-color: #6685A3;
    }

    #pageHeadingText {
        color: white;
    }
    .thumbnailDescription{
        display: none;
    }
    .websitePreview {
       /* display: none; /*Develop a better solution for this, like turing off ng-include or setting the ng-include page as a variable that isn't set on smaller screens*/
    }
}
@media screen and (max-width: 480px) and (min-resolution: 1.5dppx){ /*such as a Huawei G7 with a DPR of 720 wide*/
 }
    .thumbnailDescription{
        display: none;
    }
}

/* -------- CONTACT FIELDS -------- */

.contactCol {
    background-color: #E62E00;
    line-height: 50px;
    height: 50px;
    text-align: center;
}


.contactBox {
    height: 50px;
    line-height: 50px;
    background-color: #E62E00;
    color: white;
}

    .contactBox:hover {
        transition: .3s background-color;
        background-color: red;
    }

    .contactBox a {
        color: white;
    }

.contactText {
    font-family: 'Roboto Condensed', Gadugi, 'Gill Sans MT', Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    font-size: 1.1em;
}

.contactBox:hover {
    transition: .3s background-color;
    background-color: red;
}

.contactText a {
    color: white;
}
/*Below doesn't seem to work
.contactDetails a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}*/

.icon_sosa {
    /*color: #337ab7; Default bootstrap link colour*/
    text-align: center;
    vertical-align: middle;
    font-size: 2.2em;
}

#contactBox2 {
    border-left: 1px solid #E8ECF1;
}


.dummySpan {
    color: #F2F2F3;
}
/* -------- /CONTACT FIELDS ------ */




/* -------------------   /NAVBAR  ------------------- */



#allContentUnderNavBar {
    background-color: #E8ECF1;
}

/* -------------------   TEXT SECTION ------------------- */
.textSection {
    background-color: #F0F2F5;
    padding: 10px;
    margin-bottom: 8px;
    border-top: 1px solid #C2CEDA;
}

/* Below works but decided against it
@media only screen and (min-width: 961px) {
    .textSection {
        margin-left: 10px;
        margin-right: 10px;
    }
}
*/

/* -------------------   /TEXT SECTION ------------------- */



/* -------------------   THUMBNAIL SECTION ------------------- */
.thumnailSection .thumbnail {
    background-color: #DEE0E3;
    border: 1px solid #C2CEDA;
}

.websitePreview .thumbnail:hover {
    background-color: #6685A3;
    transition: background-color 1s;
}


.caption {
    background-color: #E1E4EA;
    border-top: 2px solid #C2CEDA;
}

.thumbnailCaptionHeading {
    color: #3b5998;
    font-size: 1.5em;
    padding-bottom: 5px;
}

    .thumbnailCaptionHeading:hover, .thumbnailCaptionHeading:hover:active {
        color: #337ab7;
    }

/* -------------------  /THUMBNAIL SECTION ------------------- */


/* -------------------  /Website Detailed Explaination Section (Partials)------------------- */

.websiteExampleImage {
    border: 2px solid #C2CEDA;
    margin-bottom: 15px;
}

#leftColumn {
        margin-top:20px;
}

/* -------------------   WELCOME AND IMAGE BOX------------------- */
#welcomeAndImageBox {
}




@media only screen and (min-width: 961px) {
    body {
        -webkit-zoom: 130%;
    }
}

@media only screen and (max-width: 320px) { /* Hide photo captions on extra small screens*/
    .carousel-caption {
        display: none;
    }
}
/*The below code creates an intrinic div, with centered content
#showGallerySlide {
    position: relative;
    padding-bottom: 60%;
    height: 0;
    background: #E9EAEA;
}

#showGallerySlideInner {
    position: absolute;
    top: 35%; /*For the text and icon to go in the vetical center
    left: 0;
    width: 100%;
    height: 100%;
}

#showGallerySlideInnerContent {
    position: relative;
    height: 0;
    color: #CC0000;
    text-align: center;
}
CHECK IF I SHOULD I USE BELOW?
#showGallerySlideInner {
    position: absolute;
    transform: translateY(-60%);
    padding: 15px;
    color: #22356b;
}*/

/* ------------------- /END OF WELCOME AND IMAGE BOX------------------- */





/* -------------------   SERVICES ------------------- */
@media only screen and (min-width: 767px) and (max-width: 991px) {
    #welcomeAndServices {
        margin-top: -105px;
    }
}

.services {
    border-left: 1px solid #D9E0E8;
    border-right: 1px solid #D9E0E8;
    border-bottom: 1px solid #D9E0E8;
    background-color: white;
    margin-bottom: 10px;
    /* background-color:#D9E0E8; similar to above, but darker */
    padding: 15px;
}

.customCollaspeSection {
}

.servicesHeading {
    font-family: 'century-gothic', Helvetica, sans-serif, Calibri, 'Franklin Gothic', 'Segoe UI',Frutiger,Tahoma,Helvetica,Sans-Serif;
    background-color: #CC0000;
    padding: 2px;
    font-size: 1.8em;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}

#servicesSubHeading {
    margin-bottom: 5px;
    font-size: 1.2em;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    font-family: Calibri, Helvetica, sans-serif, Calibri, 'Franklin Gothic', 'Segoe UI',Frutiger,Tahoma,Helvetica,Sans-Serif;
    text-align: center;
}

.services .media-heading {
    padding-top: 20px;
}


#generalServicesDescription {
    color: #0066FF;
}

.media-left .services {
    width: 60%;
}

.services .media {
    border: 2px solid #D9E0E8;
    margin-top: 10px;
    padding-right: 10px;
}

.services .media-object {
    /*light blue: background-color: #e3eff8; */
    background-color: white;
    width: 100px;
    text-align: center;
}

.services .fa {
    color: #CC0000;
    line-height: 100px;
}

.services .media-body {
    padding-bottom: 10px;
}

.quote {
    font-style: italic;
}

aside {
    padding-left: 15px;
}
/*
.services .glyphicon {
    top: 4px;  override of bootstrap's default of 1px 
    padding-left: 5px;
    padding-right: 10px;
    font-size: 1.2em;
}*/

.glyphicon-menu-down {
    font-size: 2.1em;
    color: #E62E00;
    top: 5px;
    padding-left: 10px;
}

    .glyphicon-menu-down:hover {
        color: red;
    }

    .glyphicon-menu-down:active {
        color: red;
    }

    .glyphicon-menu-down:visited {
        color: #E62E00;
    }

.glyphicon-menu-up {
    font-size: 2.1em;
    color: #E62E00;
    top: 5px;
    padding-left: 10px;
}

    .glyphicon-menu-up:hover {
        color: red;
    }

    .glyphicon-menu-up:active {
        color: red;
    }

    .glyphicon-menu-up:visited {
        color: #E62E00;
    }


.moreLessLink {
    font-size: 1.1em;
}

#commercialMoreLessTriangle {
    font-size: 2.2em;
    color: #E62E00;
}

.moreLessLink {
    font-size: 1.1em;
}

#commercialMoreLessTriangle {
    font-size: 2.2em;
}



/* -------------------   /SERVICES ------------------- */

/* -------------------   FACEBOOK ------------------- */
#fb-root {
    background-color: #E9EAEA;
}

#facebookHeading {
    background-color: #E9EAEA;
    padding-left: 5px;
    border: 1px solid #D9E0E8;
}

#faceBookColumn {
    margin-top: 10px;
}
/* -------------------   /FACEBOOK ------------------- */

/* -------------------   SHARE LINKS ------------------- */
#shareLinks {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

    #shareLinks .media {
        margin-bottom: 5px;
    }

@media only screen and (max-width: 767px) {
    #shareLinks .media-body {
        width: 60%;
    }
}


#shareOnTwitter {
    padding-left: 5px;
    padding-right: 5px;
}

#shareOnGooglePlus {
    padding-left: 5px;
    padding-right: 5px;
}

.tweet {
    color: #55acee;
}

.google_plus {
    font-size: 1.9em;
    color: white;
    background-color: #dd4b39;
    border-radius: 2px;
    padding-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    margin-right: 5px;
}

/* -------------------   /SHARE LINKS ------------------- */

footer {
    border-top: 1px solid #D9E0E8;
    margin-top: 10px;
    padding-top: 10px;
    font-size: .8em;
    text-align: center;
}


/* ############### GALLERY.HTML Page ############### */


.wrap {
    overflow: hidden;
    margin: 10px;
}

    .wrap .row {
        margin-left: 0px;
        margin-right: 0px;
    }

.box {
    float: left;
    position: relative;
    width: 20%;
    padding-bottom: 20%;
}



.boxInner {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
}

    .boxInner img {
        width: 100%;
    }
/*
@media only screen and (min-width : 481px) {
    .boxInner .titleBox {
        position: absolute;
        bottom: 4px;
        left: 4px;
        right: 4px;
        margin-bottom: -50px;
        background: #000;
        background: rgba(0, 0, 0, 0.5);
        color: #FFF;
        padding: 10px;
        text-align: center;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }*/

body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
    margin-bottom: 0;
}

@media only screen and (max-width : 480px) and (min-width : 321px) {
    /* Smartphone view: 1 tile */
    .box {
        width: 50%;
        padding-bottom: 50%;
    }
}

@media only screen and (max-width : 650px) and (min-width : 481px) {
    /* Tablet view: 2 tiles */
    .box {
        width: 50%;
        padding-bottom: 50%;
    }
}

@media only screen and (max-width : 1050px) and (min-width : 651px) {
    /* Small desktop / ipad view: 3 tiles */
    .box {
        /* width: 33.3%;
            padding-bottom: 33.3%;*/
        width: 25%;
        padding-bottom: 25%;
    }
}
/*
        @media only screen and (max-width : 1290px) and (min-width : 1051px) {
          /* Medium desktop: 4 tiles
          .box {
            width: 25%;
            padding-bottom: 25%;
          }
        }*/


/*
.percentageBorder{
    width:90%;
    border-bottom: 1px solid #3b5998;
    border-bottom-width:thin;
}*/

.projectTypeHeadingDiv {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #CC0000;
    padding-left: 10px;
    border-top: 1px solid #CC0000;
    padding-top: 15px;
}

    .projectTypeHeadingDiv .fa-home {
        padding-left: 15px; /*extra padding because the home icon's roof sticks out more than the apartment icon */
    }

    .projectTypeHeadingDiv .media-object {
        padding-right: 10px; /*extra padding because of bug with Android Browser */
    }

.projectTypeHeadingText {
}

#residentialSection {
    margin-top: 15px;
}

.projectThumbnail {
}
/*
.projectHeadingBoxInner {
    background-color: white;
    font-family: RobotoCondensed-Regular;
    font-size: 1.6em;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.boxInnerText {
    position: absolute;
    top: 40%;
    transform: translateY(-60%);
    padding: 15px;
    color: #22356b;
}
*/
@font-face {
    font-family: 'Florsn01';
    src: url('../fonts/Florsn01.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
}


.glyphicon-triangle-right {
    font-size: 0.8em;
}

.thumbnail {
    padding: 2px; /*BS Override (of 4px) */
}

#commercialSection {
    border-top: 1px solid #CC0000;
    padding-top: 10px;
}




@media only screen and (max-width : 320px) {
    /* Smartphone view: 1 tile */
    .box {
        width: 100%;
        padding-bottom: 100%;
    }

    .projectHeadingBox {
        padding-bottom: 20%;
    }


    .boxInnerText {
        position: absolute;
        top: -20%;
        transform: translateY(0%);
        padding-bottom: 5px;
    }

    .glyphicon-triangle-right {
        display: none;
    }
}


#scrollArea {
    height: 600px;
}

#underBottom {
    padding-top: 800px;
    padding-bottom: 800px;
}

#bottom {
    display: block;
    margin-top: 2000px;
}


#partialsAnchor {
}

.sectionHeading {
}

#websitePreviews {
}

.websiteExampleDescription {
    margin-top: 10px;
    margin-bottom: 15px;
}


/* enable for tablet! */
@media only screen and (min-width: 1920px) {
    #details-switch {
        pointer-events: none;
    }

    .glyphicon-menu-down {
        display: none;
    }
}

.number {
    font-size: 2.5em;
}

.keyHeader {
    font-family: 'Roboto Condensed', Gadugi, 'Gill Sans MT', Geneva, Tahoma, sans-serif;
    font-size: 1.8em;
    color: #E62E00;
    margin: 0px;
}

