/*BWeb.ie Logo*/

.st0 {
    enable-background: new;
}

.st1 {
    fill: #003366;
    stroke: #003366;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #384452;
    stroke: #384452;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st3 {
    fill: #262626;
}

.st4 {
    font-family: 'Corbel';
}

.st5 {
    font-size: 8px;
}

.st6 {
    fill: #487CAD;
}

.st7 {
    font-size: 9px;
}

.st8 {
    fill: none;
}

.st9 {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.st10 {
    fill: none;
    stroke: #0F4D7F;
    stroke-miterlimit: 10;
}

.st11 {
    fill: none;
    stroke: #336699;
    stroke-width: 2;
    stroke-miterlimit: 10;
}



