
<a href="http://www.almax.ie" target="_blank"><h3>Almax Painting &amp; Decorating</h3> </a>

<div class="websiteExampleDescription">
    The painting and decorating company, Almax wished to create a website that would showcase their previous work, provide contact details, highlight their working standards and attract users to its Facebook page. From <a href="http://www.almax.ie" target="_blank">www.almax.ie</a>:
</div>

<img class="websiteExampleImage" src="images/almax.jpg" />

<div class="row keyDescription">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>1. Image Carousel</h4>
    </div>
</div>
<div class="row keyDescription">
    <div class="col-xs-12 col-sm-5 col-md-7 col-lg-7">
        <p>
            A carousel was used to <strong>save web page space</strong>.
        </p>
        <p>
            The customer wanted as many images in the carousel as possible. However, it was decided any more than
            four images would slow down the website to the point of annoying users who were using a slower
            connection. As a comproimise, I designed the last sliding mage of the carousel, as shown in figure 1,
            as <strong>a link to the gallery page</strong>.
        </p>
        <p>
            To optimise load times, 480 pixel wide resolution versions of the same image were served to smaller
            screens (480 pixels wide or less). A higher resolution was served to any screen size wider than 480 pixels.
            This was achieved using HTML’s <strong>Responsive Images ‘srcset’ and ‘sizes’ attributes.</strong>
        </p>
    </div>

    <div class="col-xs-12 col-sm-7 col-md-5 col-lg-5">
        <figure>
            <img src="images/galleryPreviewSlide-480wide.jpg" />
            <figcaption>Fig1. - The last slide image in the carousel, showing a link to the image gallery.</figcaption>
        </figure>
    </div>
</div><!--/Row-->


<div class="row keyDescription">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>Contact Details </h4>
    </div>
</div>
<div class="row keyDescription">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>
            The contact detail icons are web fonts so that, as vectors, their image quality does not deteroriate when
            viewed on larger screens or when the web page zoom is over 100%.
        </p>
        <p>
            Web fonts generally allow for smaller file sizes, compared to rastor images, thereby resulting in a quicker
            download page load time. Also, as they are fonts, unlike images, their CSS can easily be changed.
        </p>
    </div>
</div>

<div class="row keyDescription">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>Facebook Feed</h4>
    </div>
</div>
<div class="row keyDescription">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>
            Facebook is the most effective way for the company to interact with the public, and wished to draw
            attention to their Facebook presense. The live feed API highlights the company keeps an up to date
            Facebook presense.
        </p>
    </div>
</div>

