<a href="http://www.metroauto.ie" target="_blank"><h2>Metro Auto Services</h2></a>
                Metro Auto Services are a car garage that, similiar to Almax.ie, wanted a web presence so that users could easily find contact details and services offered. They wished to maintain their Facebook as their main avenue to reach customers.
<p>
    The next step will be to take some high resolution photographs of the Mechanics and their garage to replace the homepage's low resolution photo. <a href="http://www.metroauto.ie" target="_blank">www.metroauto.ie</a>
</p>
