<div id="projectsTitle" class="row customRow">
    <h1>Projects</h1>
</div>

<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-6 websitePreview">
    <a href="#almax#partialsAnchor" ng-click="goToAnchor()">
        <div class="thumbnail">
            <img src="images/almax-480wide.jpg" />
            <div class="caption">
                <div class="thumbnailCaptionHeading">Almax Painting</div>
                Describes the company's services and showcases their projects.
            </div>
        </div>
    </a>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 websitePreview">
    <a href="#metro#partialsAnchor" ng-click="goToAnchor()">
        <div class="thumbnail">
            <img src="images/metroAuto-480wide.jpg" />
            <div class="caption">
                <div class="thumbnailCaptionHeading">Metro Auto</div>
                Highlights the car garage's diagnostic services, using custom-made web fonts / vector icons.
            </div>
        </div>
    </a>
</div>

<!--
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 websitePreview">
    <a href="#rimages#partialsAnchor" ng-click="goToAnchor()">
        <div class="thumbnail">
            <img src="images/srcset-480wide.jpg" />
            <div class="caption">
                <div class="thumbnailCaptionHeading">Responsive Images</div>
                line 2 <br />
                line 3 <br />
                line 4
            </div>
        </div>
    </a>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 websitePreview">
    <a href="#angulair#partialsAnchor" ng-click="goToAnchor()">
        <div class="thumbnail">
            <img src="images/angulair-480wide.jpg" />
            <div class="caption">
                <div class="thumbnailCaptionHeading">Angular Example</div>
                caption goes here <br />
                line 2 <br />
                line 3 <br />
                line 4
            </div>
        </div>
    </a>
</div>
-->
