<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    

                <div class="serviceHeading">
                    <h2 class="centerText serviceHeading">Tailor Made Designs</h2>
                </div>

                <div class="serivceDescription">
                    <p>
                        All websites are built using custom code, specific to your company's requirements. Sites are not confined to templates found on CMS packages such as Word Press or Drupal. This means if a design idea is technical possible to create (i.e. the technology is available), we can create it.
                    </p>
                    <p>
                        Another advantage of this approach is that the user only gets what they want. No bloated, load-time consuming, unnecessary code is left on their site.
                    </p>
                </div>
           
                <div class="serviceHeading">
                    <h2 class="centerText serviceHeading">Works On Any Device</h2>
                </div>
                <div class="serivceDescription">
                    <h3 class="serviceSubHeading">Reponsive Design</h3>
                    Multiple layouts to suit any screen / viewport size, no matter what device the website is accessed from.

                    <br />
                    <h3 class="serviceSubHeading">Single Page Design</h3>

                    Websites can show new sections and information in a single web page (i.e. without the need extra new browser windows / tabs). This helps the web page appear and behave more like a mobile app.

                </div>
           
                <div class="serviceHeading">
                    <h2 class="centerText serviceHeading">User Friendly Layouts</h2>
                </div>
                <div class="serivceDescription">
                    <p>
                        Layouts are kept compact, with limited empty space to reduce scrolling / swiping.
                        Page elements are clearly defined and easy to see.
                        Minimalist, uncluttered design.
                    </p>
                    <p>
                        <h3 class="serviceSubHeading">Accessibility</h3>

                        All web pages follow the W3C’s “Web Content Accessibility Guidelines 1.0" (    <a href="http://www.w3.org/TR/WCAG10-HTML-TECHS/">http://www.w3.org/TR/WCAG10-HTML-TECHS/</a>. This creates a more enjoyable web experience for anyone
                        with accessibility issues. For example the content is made accessible to a user’s screen reader to help those who may have a sight impairment.
                    </p>

                </div>
            
                <div class="serviceHeading">
                    <h2 class="centerText serviceHeading">Speed</h2>
                </div>
                <div class="serivceDescription">
                    <h3 class="serviceSubHeading">Responsive Images</h3>
                    <p>
                        To optimise load times, each image will have different sized versions. Which size image downloaded depends on the size of screens. Smaller size screens will
                        download a smaller sized version, bigger screens – bigger versions, and medium size screens will be served a medium sized version of the same image.
                        <!--(This is achieved using HTML’s Responsive Images ‘srcset’ and ‘sizes’ attributes.)-->
                    </p>
                    <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 noPadding-left">-->
                    <h3 class="serviceSubHeading">Lightweight graphics</h3>
                    <p>
                        Vector graphics (SVGs) as icons (like the symbols on this page) mean smaller images and therefore faster load times.
                    </p>

                    <p>
                        <h3 class="serviceSubHeading">AJAX</h3>
                        Ajax code allows for only part the of a webpage that is needed to be loaded.
                    </p>
                </div>
          
                <div class="serviceHeading">
                    <h2 class="centerText serviceHeading">Google Analytics</h2>
                </div>
                <div class="serivceDescription">
                    <p>
                        Websites can incorporate Google Analytics so that a business can gauge how its site is performing with regard to its content such as which links are clicked most often. It can also tell them or estimate the key demographic of its user base. These are just two examples of the many capabilities of Google Analytics.
                        <!-- <p>For more, please see https://www.google.com/analytics/standard/features/
                            -->
                    </p>

                </div>
            
                <div class="serviceHeading">
                    <h2 class="centerText serviceHeading">Search Engine Optimisation</h2>
                </div>
                <div class="serivceDescription">
                    <p>
                        Website structure and content will developed with SEO in mind, putting the site as high up the search results as possible in Google, Bing, Yahoo and more. With the customer's consent, websites are continually checked (e.g. by keeping links and content up to date) to ensure SEO.
                    </p>
                </div>
           
   
    </div><!--/col-->

</div><!--/Row-->
<!--SVGs-->