<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
        <p>
            <h3>User friendly Layouts</h3>
        </p>
        <p>
            Layouts are kept compact, with limited empty space to reduce scrolling / swiping.
        </p>
        <p>
            Page elements are clearly defined and easy to see.
        </p>
        <p>
            Minimalist, uncluttered design.
        </p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
        <p>
            <h3>Single Page Design</h3>
        </p>
        <p>
            Websites that can show new sections and information in a single web page (i.e. without the need extra new browser windows / tabs)   This helps the web page appear and behave more like a mobile app.
        </p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <p>
            <h3>Responsive Layouts</h3>
        </p>
        <p>
            Multiple layouts to suit at least four different screen size ranges no matter what device the website is accessed from.
        </p>
    </div>
</div>
<!--
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
        <p>
            <h3>Responsive Images</h3>
        </p>
        <p>
            To optimise load times, each image will have different size images. Which size image downloaded depends on the size of screens. Smaller size screens will
            download a smaller sized version, bigger screens – bigger versions, and medium size screens will be served a medium sized version of the same image.
        </p>
        <p>
            This is achieved using HTML’s <strong>Responsive Images ‘srcset’ and ‘sizes’ attributes.</strong>
        </p>
    </div>




<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <p>
        <h3>Accessibility</h3>
    </p>
    <p>
        All web pages follow the W3C’s “Web Content Accessibility Guidelines 1.0" (    <a href="http://www.w3.org/TR/WCAG10-HTML-TECHS/">http://www.w3.org/TR/WCAG10-HTML-TECHS/</a>) . This creates a more enjoyable web experience for anyone
        with accessibility issues. For example the content is made accessible to a user’s screen reader to help those who may have a sight impairment.
    </p>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <p>
        <h3>Search Engine Optimisation (SEO)</h3>
    </p>
    <p>
        Website structure and content will developed with SEO in mind, putting the site as high up the search results as possible in Google, Bing, Yahoo and more. With the customer's consent, websites are continually checked (e.g. by keeping links and content up to date) to ensure SEO.
    </p>
</div>

</div><!--/row-->
