<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

        <div class="row">
            <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4 websitePreview">
                <a href="#almax#partialsAnchor" ng-click="goToAnchor()">
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="thumbnailCaptionHeading">Almax Painting</div>
                            <div class="thumbnailDescription">
                                Describes the company's services and showcases their projects.
                            </div>
                        </div>
                        <img src="images/almax-480wide.jpg" />
                    </div>
                </a>
            </div>

            <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4 websitePreview">
                <a href="#mosshouse#partialsAnchor" ng-click="goToAnchor()">
                    <div class="thumbnail">

                        <div class="caption">
                            <div class="thumbnailCaptionHeading">The Moss House</div>
                            <div class="thumbnailDescription">
                                Describes the inn's accommodation and location.
                            </div>
                        </div>
                        <img src="images/moss-house-480wide.jpg" />
                    </div>
                </a>
            </div>
            <!--
            <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 websitePreview">
                <a href="#metro#partialsAnchor" ng-click="goToAnchor()">
                    <div class="thumbnail">
                        <img src="images/metroAuto-480wide.jpg" />
                        <div class="caption">
                            <div class="thumbnailCaptionHeading">Metro Auto</div>
                            <div class="thumbnailDescription">
                                Highlights the car garage's diagnostic services, using custom-made web fonts / vector icons.
                            </div>
                        </div>
                    </div>
                </a>
            </div>-->
            <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4 websitePreview">
                <a href="#hm#partialsAnchor" ng-click="goToAnchor()">
                    <div class="thumbnail">

                        <div class="caption">
                            <div class="thumbnailCaptionHeading">Heritage Masonry</div>
                            <div class="thumbnailDescription">
                                Showcases the masonry company's previous projects.
                            </div>
                        </div>
                        <img src="images/heritagemasonry-480wide.jpg" />
                    </div>
                </a>
            </div>
            <!--
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 websitePreview">
                <a href="#rimages#partialsAnchor" ng-click="goToAnchor()">
                    <div class="thumbnail">
                        <img src="images/srcset-480wide.jpg" />
                        <div class="caption">
                            <div class="thumbnailCaptionHeading">Responsive Images</div>
                            line 2 <br />
                            line 3 <br />
                            line 4
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 websitePreview">
                <a href="#angulair#partialsAnchor" ng-click="goToAnchor()">
                    <div class="thumbnail">
                        <img src="images/angulair-480wide.jpg" />
                        <div class="caption">
                            <div class="thumbnailCaptionHeading">Angular Example</div>
                            caption goes here <br />
                            line 2 <br />
                            line 3 <br />
                            line 4
                        </div>
                    </div>
                </a>
            </div>
            -->
            
        </div>

    </div>
</div>