<!DOCTYPE html>
<html ng-app="MainModule">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BWeb.ie</title>
    <link href="css/library/bootstrap.min.css" rel="stylesheet" /><!--Custom Bootstrap-->
    <link href="css/custom.css" rel="stylesheet" />
    <link href="fonts/icon_sosa/fontSosa.css" rel="stylesheet" />

    <!--Angular-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>

    <script type="text/javascript" src="js/app.js"></script>

    <script type="text/javascript" src="js/routes.js"></script>


    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
    <div id="entirePage">
        <!--not given container-fluid class so that the background colour won't have padding-->


        <div id="topDivRow" class="row customRow">

            <div class="col-xs-5 col-sm-5 col-md-2 col-lg-2" id="logoColumn">
                <a href="#">
                    <div id="logo">
                        <span id="companyName">BWeb</span><span id="dotcom">.ie</span>
                    </div>
                </a>
            </div>

            <div class="col-xs-7 col-sm-7 col-md-6 col-lg-6 container4" id="pageHeadingColumn">
                <a href="#">
                    <div id="pageHeadingText">Website Portfolio </div>
                </a>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 container4 navBox">
                <span class="contactDetails">
                    <a href="downloads/brian.vcf"><span class="icon_sosa vcard"></span><span class="contactText">Contact vCard</span></a>
                </span>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 container4 navBox" id="navBox2">
                <span class="contactDetails">
                    <a href="mailto:brian@bweb.ie"><span class="icon_sosa envelope"></span>brian@bweb.ie</a>
                </span>
            </div>

        </div>


        <div id="allContentUnderNavBar">

            <div class="container-fluid" ng-controller="ScrollController">

                <p id="welcome">
                    Hello, I'm Brian and I like to add to the wonders of the web, specialising in mobile friendly websites. Please check out some of my work (which I am always adding to) and don't hesistate to message me at brian@bweb.ie or tweet me <a href="https://twitter.com/intent/tweet?screen_name=BWebDotIE">@BWebDotIE</a>                             (Last updated: 2015/10/26)
                </p>

                <div class="textSection">

                    <h1 class="inline">Design Philosphy</h1><span class="noWrap"> Mobile friendly websites characteristics include: </span>

                    <div class="row">
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                            <p>
                                <h4>User friendly Layouts</h4>
                            </p>
                            <p>
                                Layouts are kept compact, with limited empty space to reduce scrolling / swiping.
                            </p>
                            <p>
                                Page elements are clearly defined and easy to see.
                            </p>
                            <p>
                                Minimalist, uncluttered design.
                            </p>

                            <p>
                                <h4>Single Page Design</h4>
                            </p>
                            <p>

                                Websites that can show new sections and information in a single web page (i.e. without the need extra new browser windows / tabs)   This helps the web page appear and behave more like a mobile app.
                            </p>



                        </div>

                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                            <p>
                                <h4>Responsive Layouts</h4>
                            </p>
                            <p>
                                Multiple layouts to suit at least four different screen size ranges no matter what device the website is accessed from.
                            </p>
                            <p>
                                <h4>Responsive Images</h4>
                            </p>
                            <p>
                                To optimise load times, each image will have different size images. Which size image downloaded depends on the size of screens. Smaller size screens will
                                download a smaller sized version, bigger screens – bigger versions, and medium size screens will be served a medium sized version of the same image.
                            </p>
                            <p>
                                This is achieved using HTML’s <strong>Responsive Images ‘srcset’ and ‘sizes’ attributes.</strong>
                            </p>

                        </div>

                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                            <p>
                                <h4>Accessibility</h4>
                            </p>
                            <p>
                                All web pages follow the W3C’s “Web Content Accessibility Guidelines 1.0" (    <a href="http://www.w3.org/TR/WCAG10-HTML-TECHS/">http://www.w3.org/TR/WCAG10-HTML-TECHS/</a>) . This creates a more enjoyable web experience for anyone
                                with accessibility issues. For example the content is made accessible to a user’s screen reader to help those who may have a sight impairment.
                            </p>


                        </div>
                        <!-- <div ng-controller="PartialController">-->
                    </div>
                </div>



                <div class="row">

                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" id="leftColumn">
                        <!--Left hand column-->

                        <div id="projectsTitle"class="row customRow">
                            <h1>Projects</h1>
                        </div>

                            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-6 websitePreview">
                                <a href="#almax#partialsAnchor" ng-click="goToAnchor()">
                                    <div class="thumbnail">
                                        <img src="images/almax-480wide.jpg" />
                                        <div class="caption">
                                            <div class="thumbnailCaptionHeading">Almax Painting</div>
                                            caption goes here <br />
                                            line 2 <br />
                                            line 3 <br />
                                            line 4
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 websitePreview">
                                <a href="#metro#partialsAnchor" ng-click="goToAnchor()">
                                    <div class="thumbnail">
                                        <img src="images/metroAuto-480wide.jpg" />
                                        <div class="caption">
                                            <div class="thumbnailCaptionHeading">Metro Auto</div>
                                            Single page website for a car garage, showing custom-made web fonts.
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 websitePreview">
                                <a href="#rimages#partialsAnchor" ng-click="goToAnchor()">
                                    <div class="thumbnail">
                                        <img src="images/srcset-480wide.jpg" />
                                        <div class="caption">
                                            <div class="thumbnailCaptionHeading">Responsive Images</div>
                                            line 2 <br />
                                            line 3 <br />
                                            line 4
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 websitePreview">
                                <a href="#angulair#partialsAnchor" ng-click="goToAnchor()">
                                    <div class="thumbnail">
                                        <img src="images/angulair-480wide.jpg" />
                                        <div class="caption">
                                            <div class="thumbnailCaptionHeading">Angular Example</div>
                                            caption goes here <br />
                                            line 2 <br />
                                            line 3 <br />
                                            line 4
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div><!--/Col-->

                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        <!--Right hand column -->
                        <!-- <div id="websiteDetails" ng-include="partialURL" onload="'partials/almax.html'"></div>-->

                        <div id="partialsAnchor" ng-view></div>

                    </div>

                </div>

            </div><!--/container-fluid-->
        </div><!--/allContentUnderNavBar-->
    </div><!--/entirePage-->

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

</html> 