<a href="http://www.heritagemasonry.com.au/" target="_blank"><h2>Heritage Masonry</h2></a>

<div class="websiteExampleDescription">
    Heritage Masonry wanted a contemporary and minimalist website, which is a good suit for the website because it is the company's first website and at the time of writing, (June, 2016), they are at the early stage of creating content. 
    <p>
        In the meantime they wanted an easy to navigate website that could showcase their latest projects and at least have a presence on the web. Further stages will involve describing the company's offerings. <a href="http://www.heritagemasonry.com.au/" target="_blank">www.heritagemasonry.com.au</a>
</div>

<a href="http://www.heritagemasonry.com.au/" target="_blank">
    <img class="websiteExampleImage" src="images/heritageMasonry.jpg" />
</a>