<a href="http://www.mosshouse.ie" target="_blank"><h2>Moss House</h2></a>

<div class="websiteExampleDescription">
    <p>
        The Moss House needed a low maintenance, contemporary and easy to use website, while creating a welcoming feeling, just like when the owners welcome new guests to their inn.
    </p>
    <p>
        The site uses Twitter Bootraps’s Grid System. Everything under the main navigation bar is managed by Angular partials. The logo was created in Adobe Illustrator.
    </p>
    <a href="http://www.mosshouse/" target="_blank">www.mosshouse.ie</a>
</div>

<a href="http://www.mosshouse/" target="_blank">
    <img class="websiteExampleImage" src="../../../images/moss-house.jpg" />

</a>