<a href="http://www.woodconcepts.ie" target="_blank"><h2>Wood Concepts</h2></a>

<div class="websiteExampleDescription">
    <p>
        Wood Concepts is the largest Irish supplier of wood-based products to the Irish timber trade, with a supply
        chain covering South America, Asia, Europe and Russia.
    <p>

    <p>
        The website was created with Angular 2x to make it as fast and responsive as possible. It uses the Boostrap framework, creating  different layouts for different size screens (e.g., mobile/tablet / computer screens etc.) It’s content is updated using an
        API driven, ‘headless’ CMS, provided by Contentful.com.
    <p>

        <a href="http://www.woodconcepts.ie/" target="_blank">www.woodconcepts.ie</a>
</div>

<a href="http://www.woodconcepts.ie/" target="_blank">
    <img class="websiteExampleImage" src="../../../images/woodconcepts.jpg" />

</a>